*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
    position: relative;
}
.head{
    padding: 0%;
    height: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}
.logo{
    width: 100px;
    height: 100px;
    background: no-repeat;
    position: absolute;
    top: 10px;
    left: 10px;
}

.titulo{
    color:#fff;
    display:block;
    font-size: 1.75em;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.titulo +p{
    flex-direction: column;
}
.header{
    height: 100vh;
    background-image: linear-gradient(120deg, rgba(132, 250, 175, 0.5) 0%, rgba(143, 210, 244, 0.5) 100%), url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*Menu*/
.navegacion{
    width: 1348px;
    margin: 0px auto;
    margin-block-end: auto;
    text-align: right;
    background:linear-gradient(120deg, rgba(132, 250, 175, 0.815) 0%, rgba(143, 210, 244, 0.849) 100%);
}
.navegacion ul{
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
}
.menu > li > a{
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-family:serif;
    font-size: 1.5em;
    text-decoration: none;
}
.menu li a:hover{
    color: violet;
    transition: all .3s;
}
.titulo{
    color:#fff;
    display:block;
    font-size: 1.75em;
    text-align: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.tabla{
    position: absolute;
    left: 100px;
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
    border: 3px solid ;
    font-family: serif;
    font-size: 20px; 
    background-color:rgb(140, 207, 163);
    color: rgb(0, 0, 0); 
    top: 180px;
}
.consulta{
    text-align: center;
    color: rgb(3, 3, 3);
    width: 15%;
    background: rgb(140, 207, 163);
    padding: 13px;
    border-radius: 25px;
    margin-bottom: 20px;
    border: 2px solid ;
    font-family: serif;
    font-size: 18px;
}
.consulta-donador{
   font-family: sans-serif;
   font-size: 1em; 
}
.btn-aprobar{
    text-align: center;
    color: rgb(3, 3, 3);
    width: 45%;
    background: rgb(140, 207, 163);
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
    border: 2px solid ;
    font-family: serif;
    font-size: 15px;
    cursor: pointer;
}
.btn-rechazar{
    text-align: center;
    color: rgb(3, 3, 3);
    width: 50%;
    background: rgb(140, 207, 163);
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
    border: 2px solid ;
    font-family: serif;
    font-size: 15px;
    cursor: pointer;
}